x64/Debug/OpenCV_TProyectoEvaluacion.exe
x64/Debug/OpenCV_TProyectoEvaluacion.exe.metagen
x64/Debug/OpenCV_TProyectoEvaluacion.pdb
x64/Debug/opencv_videoio_ffmpeg4120_64.dll
x64/Debug/opencv_world4120.dll
x64/Debug/opencv_world4120d.dll
.vs/OpenCV_TProyectoEvaluacion/v17/.suo
.vs/OpenCV_TProyectoEvaluacion/v17/Browse.VC.db
.vs/OpenCV_TProyectoEvaluacion/v17/Browse.VC.db-shm
.vs/OpenCV_TProyectoEvaluacion/v17/Browse.VC.db-wal
.vs/OpenCV_TProyectoEvaluacion/v17/Browse.VC.opendb
.vs/OpenCV_TProyectoEvaluacion/v17/DocumentLayout.backup.json
.vs/OpenCV_TProyectoEvaluacion/v17/DocumentLayout.json
.vs/OpenCV_TProyectoEvaluacion/v17/ipch/AutoPCH/a4531ece5caad837/OPENCV_TPROYECTOEVALUACION.ipch
.vs/OpenCV_TProyectoEvaluacion/v17/ipch/AutoPCH/ac3a8046fe0d2083/MYFORM.ipch
.vs/OpenCV_TProyectoEvaluacion/v17/ipch/AutoPCH/c9d03604e7932526/MYFORM.ipch
.vs/OpenCV_TProyectoEvaluacion/v17/Solution.VC.db
